

h2 {
    text-align: center;
  }
  
  .ajedrecistas-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    
  }
  
  a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    
  }
  
 
  
  a:hover {
    background-color: green;
  }
  .contenido{
    position: absolute;
    left: 45%;
    top:40%;
    place-items: center;
  }
  .contenido div{
  
    background-color: green;
  }